.gradle/
.idea/
.terraform/
build/
out/

*.backup
*.iml
*.log
*.retry
*.tfstate
*.tfstate.lock.info

# This one is use to download locally binary resources
# This is uselful when you don't have an internet connection anymore
/local/localdir
